@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-blue: #3B82F6;
  --color-brand-dark: #0f172a;
  --color-brand-light: #f8fafc;
}

@layer base {
  body {
    @apply bg-[#fdfcfb] text-brand-dark font-sans antialiased;
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}
